<!DOCTYPE html>
<html>

  <head>
    <title>Analytics : Toronto Public Library Programs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Toronto Public Library Programs</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-home"></i> &nbsp;Home</a></li>
            <li><a href="/catalog"><i class="fa fa-database"></i> &nbsp;Catalog</a></li>
            <li class="active"><a href="/analytics"><i class="fa fa-bar-chart"></i> &nbsp;Analytics</a></li>
            <li><a href="/text-to-speech"><i class="fa fa-comment"></i> &nbsp;Text to Speech</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div>
      <div class="container">
        <div class="page-header">
          <h1>Analytics</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="/graph1" class="thumbnail">
              <img src="images/graph1.png" alt="" />
              <div class="caption">
                <p class="small" style="font-size: 9px;">
                  Attendancy of each branch for all programs in the last month
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/graph4" class="thumbnail">
              <img src="images/graph5.png" alt="" />
              <div class="caption">
                <p class="small" style="font-size: 9px;">
                  Attendancy for each program for all branches
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/graph3" class="thumbnail">
              <img src="images/graph4.png" alt="" />
              <div class="caption">
                <p class="small" style="font-size: 9px;">
                  Average age of people who attended programs for all branches
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group"  role="group">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Library Branch Name
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0)" class="malvernbtn">Malvern</a></li>
                <li><a href="javascript:void(0)" class="agincourtbtn">Agincourt</a></li>
                <li><a href="javascript:void(0)" class="downsviewbtn">Downsview</a></li>
                <li><a href="javascript:void(0)" class="evelynbtn">Evelyn Gregory</a></li>
      	        <li><a href="javascript:void(0)" class="albionbtn">Albion</a></li>
      	        <li><a href="javascript:void(0)" class="rexdalebtn">Rexdale</a></li>
      	        <li><a href="javascript:void(0)" class="maryvalebtn">Maryvale</a></li>
              </ul>
            </div>


            <div class="btn-group"  role="group">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Programs
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="javascript:void(0)" class="eslbtn">ESL Classes</a></li>
                <li><a href="javascript:void(0)" class="babytimebtn">Babytime</a></li>
                <li><a href="javascript:void(0)" class="callbtn">Call of Gamers</a></li>
                <li><a href="javascript:void(0)" class="familybtn">Family Time</a></li>
      	        <li><a href="javascript:void(0)" class="readingbtn">Ready for Reading Toddler Time</a></li>
      	        <li><a href="javascript:void(0)" class="cantonesebtn">Cantonese Book Club</a></li>
              </ul>
            </div>
            <div class="btn-group"  role="group">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Analysis Type
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <li><a href="javascript:void(0)" class="agebtn">Age Group Analysis</a></li>
                <li><a href="javascript:void(0)" class="geobtn">Geolocation Analysis</a></li>
                <li><a href="javascript:void(0)" class="langbtn">Preferred Language Analysis</a></li>
              </ul>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-warning analyzebtn" type="button" id="resetbtn">Analyze</button>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-danger resetbtn" type="button" id="resetbtn">Reset Parameters</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1">
            <div class="well library" style="display: none;">
              Library Branch: Malvern
              <br>
              <span class="programs" style="display: none;">Program: ESL Classes</span>
              <br>
              <span class="graphtype" style="display: none;">Graph Type: Age Group Analysis</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="well">
              <img href=""class="graph" src="images/graph2.png" alt="" style="width: 100%; length: 100%; display:none;"/>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="page-header">
          <h4>Incident Report Analysis</h4>
        </div>
        <div class="col-md-12">
          <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group"  role="group">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Library Branch Name
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0)" class="malvernbtn">Malvern</a></li>
                <li><a href="javascript:void(0)" class="agincourtbtn">Agincourt</a></li>
                <li><a href="javascript:void(0)" class="downsviewbtn">Downsview</a></li>
                <li><a href="javascript:void(0)" class="evelynbtn">Evelyn Gregory</a></li>
                <li><a href="javascript:void(0)" class="albionbtn">Albion</a></li>
                <li><a href="javascript:void(0)" class="rexdalebtn">Rexdale</a></li>
                <li><a href="javascript:void(0)" class="maryvalebtn">Maryvale</a></li>
              </ul>
            </div>


            <div class="btn-group"  role="group">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Programs
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="javascript:void(0)" class="eslbtn">ESL Classes</a></li>
                <li><a href="javascript:void(0)" class="babytimebtn">Babytime</a></li>
                <li><a href="javascript:void(0)" class="callbtn">Call of Gamers</a></li>
                <li><a href="javascript:void(0)" class="familybtn">Family Time</a></li>
                <li><a href="javascript:void(0)" class="readingbtn">Ready for Reading Toddler Time</a></li>
                <li><a href="javascript:void(0)" class="cantonesebtn">Cantonese Book Club</a></li>
              </ul>
            </div>
            <div class="btn-group" role="group">
              <button href="#incidentdisplay" class="btn btn-warning incidencebtn" type="button" id="incidencebtn">Incidence Report</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row margin-top">
          <div class="col-md-10 col-md-offset-1">
            <div class="well libraryinc" style="display: none;">
              Library Branch: Agincourt
              <br>
              <span class="programsinc" style="display: none;">Program: Babytime</span>
              <br>
              <span class="graphtype" style="display: none;">Graph Type: Participant Location Analysis</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <img class="graphinc" src="images/graph3.png" alt="" style="width: 100%; length: 100%; display:none;"/>
            </div>
          </div>
          <div class="col-md-6" id="incidentdisplay">
            <div class="well graphinc" style="display:none;">
              <p>
                <strong>For July 2015:</strong>
                <br>
                Average attendance: 25.33
                <br>
                Standard Deviation of attendance: 14.24
              </p>
              <p style="color:orange;">
                Lowest Attendance Dates:
                <ul>
                  <li>22 / 07 / 2015 : <span class="small"><br>&nbsp;&nbsp;Toronto's Medical Officer of Health has called an Extreme Heat Alert</span></li>
                  <li>29 / 07 / 2015 : <span class="small"><br>&nbsp;&nbsp;Statuary Holiday in Ontario: Civic Day</span></li>
                </ul>
              </p>
              <p style="color:green;">
                Highest Attendance Dates:
                <ul>
                  <li>18 / 07 / 2015</li>
                  <li>19 / 07 / 2015</li>
                </ul>
                <button type="button" name="button" class="btn btn-default pull-right">Submit Dates</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="margin-top"></div>




    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="d3/d3.v3.js"></script>
    <script src="js/analytics.js"></script>
  </body>

</html>
