<!DOCTYPE html>
<html>

  <head>
    <title>Catalog : Toronto Public Library Programs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Toronto Public Library Programs</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-home"></i> &nbsp;Home</a></li>
            <li class="active"><a href="/catalog"><i class="fa fa-database"></i> &nbsp;Catalog</a></li>
            <li><a href="/analytics"><i class="fa fa-bar-chart"></i> &nbsp;Analytics</a></li>
            <li><a href="/text-to-speech"><i class="fa fa-comment"></i> &nbsp;Text to Speech</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div>
      <div class="container-fluid">
        <div class="page-header">
          <h1>Create New Program</h1>
        </div>
        <div class="col-md-12">
          <form class="" action="/" method="post">
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="ESL Classes" name="title" id="title" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Library</label>
                <input type="text" class="form-control" placeholder="Malvern" name="library" id="library" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Event Type</label>
                <input type="text" class="form-control" placeholder="ESL & Newcomer Programs" name="eventtype" id="eventtype" required data-validation-required-message="Please enter the event type.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Age Group</label>
                <input type="text" class="form-control" placeholder="Adult" name="agegroup" id="agegroup" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <a href=""><button type="submit" class="btn btn-success btn-lg">Submit</button></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


  </body>

</html>
